<po-page-dynamic-search
    p-title="Gerenciar Deputados"
    [p-breadcrumb]="breadcrumb"
    [p-literals]="literals"
    [p-filters]="filters"
    (p-advanced-search)="onAdvancedSearch($event)"
    (p-quick-search)="onQuickSearch($event)"
    
>
<div class="po-row">
    <div class="po-lg-3" *ngFor="let deps of todosDeputados">
        <p class="card-deputado">
            <img class="foto" src="{{deps.urlFoto}}" alt="foto do deputado">
        </p>
        <po-widget
        p-title="{{ deps.nome }}"
        p-primary-label="Detalhes" 
        (p-title-action)="exibirDetalhes($event)"
>
    <p> Partido: {{ deps.uriPartido }} </p>
    <p> Estado: {{ deps.siglaUf }}</p>
</po-widget>
    </div>
</div>

<button (click)="aparecerMais()">Mostrar Mais</button>
</po-page-dynamic-search>

