.foto-deputado {
    width: 60%;
    height: 200px;
    box-sizing: border-box;
    padding: 15px;
}

.foto {
    max-width: 100%;
    max-height: 100%;
}

.card {
    margin-top: 15px;
}
.card-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}