<po-page-dynamic-search
    p-title="Gerenciar Deputados"
    [p-breadcrumb]="breadcrumb"
    [p-literals]="literals"
    [p-filters]="filters"
    (p-advanced-search)="onAdvancedSearch($event)"
    (p-quick-search)="onQuickSearch($event)"
    
>
<div class="po-row">
    <div class="po-lg-3" *ngFor="let deps of deputadosList">
        <p class="card-foto">
            <img class="foto" src="{{deps.url}}" alt="foto do deputado">
        </p>
        <po-widget
        p-title="{{ deps.nome }}"
        (p-show-more)="aparecerMais($event)"
        p-primary-label="Detalhes" 
        (p-title-action)="exibirDetalhes($event)"
>
    <p> Partido: {{ deps.partido }} </p>
    <p> Estado: {{ deps.estado }}</p>
</po-widget>
    </div>
</div>


</po-page-dynamic-search>

