<po-page-dynamic-search
    p-title="Gerenciar Deputados"
    [p-breadcrumb]="breadcrumb"
    [p-literals]="literals"
    [p-filters]="filters"
    (p-advanced-search)="onAdvancedSearch($event)"
    (p-quick-search)="localizarPorNome($event)"
    
>
    <div class="po-row">
        <div class="po-lg-3 po-md-4 po-xm-4" *ngFor="let deputado of todosDeputados">
            <po-widget
                p-title="{{ deputado.nome | uppercase}}"
                p-primary-label="Detalhes" 
                (p-title-action)="exibirDetalhes(deputado.id)"
                (p-primary-action)="exibirDetalhes(deputado.id)"
            >
            <div class="foto-deputado">
                <img class="foto" src="{{deputado.urlFoto}}" alt="foto do deputado">
            </div>
            <p> Partido: {{ deputado.siglaPartido }} </p>
            <p> Estado: {{ deputado.siglaUf }}</p>
            </po-widget>
        </div>

    
    </div>

    <div class="card-btn">
        <po-button
        class="po-lg-3"
        (p-click)="aparecerMais($event)"
        p-label="Mostrar Mais"
    ></po-button>
</div>

</po-page-dynamic-search>
<po-modal 
    #deputadoDetalhesModal
    p-title="Detalhes do Deputado"
    p-size="lg"
>
    <div class="foto-deputado" *ngIf="detalheDeputado?.ultimoStatus?.urlFoto">
        <img [src]="detalheDeputado?.ultimoStatus?.urlFoto" alt="foto do deputado">
    </div>
    <po-dynamic-view 
    [p-fields]="campoVisualizacaoDetalhesDeputados" 
    [p-value]="detalheDeputado"
    >
    </po-dynamic-view>
    <po-button
        class="po-lg-3"
        (p-click)="verDespesas()"
        p-label="Ver Despesas"
    ></po-button>
</po-modal>

